<div class="page-header">
	<h1>
		My books 
		<a href="/mybooks/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span> 
			New book
		</a>
	</h1>
	<h4>Tagadējais: {{ main.user.username }}</h4>

</div>

<div class="jumbotron text-center" ng-show="mybook.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading books...</p>
</div>

<table class="table table-bordered table-striped" ng-show="mybook.mybooks">
	<thead>
		<tr>
			<th>_id</th>
			<th>Title</th>
			<th>Author (id)</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="book in mybook.mybooks">
			<td>{{ book._id }}</td>
			<td>{{ book.title }}</td>
			<td>{{ book.author }}</td>
			<td class="col-sm-2">
				<a ng-href="/mybooks/{{ book._id }}" class="btn btn-danger">Edit</a>
				<a href="#" ng-click="mybook.deleteMybook(book._id)" class="btn btn-primary">Delete</a>
			</td>
		</tr>
	</tbody>
</table>