<div class="page-header">
	<h1 ng-if="mybook.type == 'create'">Create book</h1>
	<h1 ng-if="mybook.type == 'edit'">Edit book</h1>
</div>
<h4 >Tagadējais: {{ main.user.id }}</h4>
<form class="form-horizontal" ng-submit="mybook.saveMybook()">
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Title</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="mybook.mybookData.title">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Author</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="mybook.mybookData.author">
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">User ID</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" ng-model="mybook.mybookData.userId">
		</div>
	</div>

<!--
	<div class="form-group">
		<label class="col-sm-2 control-label">Password</label>
		<div class="col-sm-6">
			<input type="password" class="form-control" ng-model="user.userData.password">
		</div>
	</div>
-->
	
	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-6">
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="mybook.type == 'create'">Create book</button>
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="mybook.type == 'edit'">Update book</button>
	</div>
	</div>

</form>

<div class="row show-hide-message" ng-show="mybook.message">
	<div class="col-sm-6 col-sm-offset-2">
		
		<div class="alert alert-info">
			{{ mybook.message }}
		</div>

	</div>
</div>